 <!-- ======= Header ======= -->
 <header id="header">
    <div class="d-flex flex-column">

      <a class="nav-link active" aria-current="page" routerLink="/dashboard" *ngIf="isLogin">Dashboard</a>
      
      <form class="d-flex">
        <button class="btn btn-outline-success" type="button" *ngIf="!isLogin" routerLink="/login">Login</button>
        <button class="btn btn-outline-success" type="button" *ngIf="isLogin" (click)="btnLogout()">Logout</button>
      </form>

      <div class="profile">
        <img src="assets/img/profile-img.jpg" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Jésica Álvarez</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="https://www.facebook.com/jesica.alvarez" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="https://www.instagram.com/jesi.alv93" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>
      
      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Sobre mí</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Experiencia</span></a></li>
          <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
          <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contacto</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    
    </div>
    
  </header><!-- End Header -->
