<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">

  <div class="hero-container aos-init aos-animate" data-aos="fade-in">
    <h1>{{persona.nombre}} {{persona.apellido}}</h1>
    <ngx-typed-js [strings]="['Web Developer Junior.', 'Lic. en Psicopedagogía']" [typeSpeed]="100" [backSpeed]="50" [backDelay]="200" [loop]="true">
      <p>I'm <span class="typing"></span></p>
    </ngx-typed-js>
  </div>

</section><!-- End Hero -->
