    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
        <div class="container">
  
          <div class="section-title">
            <h2>Resumen</h2>
          </div>
  
          <div class="row">
            <div class="col-lg-6" data-aos="fade-up">
              <h3 class="resume-title">Resumen</h3>
              <div class="resume-item pb-0">
                <h4>Desarrollador Full Stack Junior</h4>
                <p><em>Conocimiento de lenguajes de programación de Front End, Back End, APIs y Bases de datos.</em></p>
                 
                <h4>Neuropsicopedagoga</h4>
                <p><em>Articulación de los conocimientos propios de la neurología, la pedagogía y la psicología para dar entender y potenciar los procesos de aprendizaje propios de cada individuo.</em></p>
                <ul>
                  <li>Evaluación de los procesos psicológicos básicos y superiores (atención, memoria, percepción, pensamiento, lenguaje y funciones ejecutivas) y cómo estos incrementan o afectan las habilidades de aprendizaje.</li>
                  <li>Intervención individualizada con el enfoque en potencializar cada proceso y así enriquecer el aprendizaje.</li>
                  <li>Elaboración del perfil de aprendizaje individual en relación con su desarrollo evolutivo.</li>
                  <li>Estrategias a padres y docentes con la intención de brindar herramientas que permitan un abordaje integral.</li>
                </ul>
              </div>
  
              <h3 class="resume-title">Educación</h3>
              <div class="resume-item">
                <h4>ARGENTINA PROGRAMA - PLAN NACIONAL DE FORMACIÓN EN PROGRAMACIÓN.</h4>
                <h5>Marzo 2022 - Enero 2023</h5>
                <p><em>Ministerio de Desarrollo Productivo & Cámara Argentina de la Industria de Software (CESSI)</em></p>
                <p>Capacitación en programación gratuita y virtual organizada en dos etapas: #SéProgramar (60 hs) y #YoProgramo (250 – 480 hs).</p>
              </div>
              <div class="resume-item">
                <h4>CURSO ANUAL DE NEUROPSICOLOGÍA DEL DESARROLLO.</h4>
                <h5>Julio 2020 - Septiembre 2020</h5>
                <p><em>Centro de Asistencia Docencia e Investigación en Neuropsicología (CADIN).</em></p>
                <p>Modalidad a distancia. Duración: 100 hs. reloj.</p>
              </div>
            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
              <h3 class="resume-title">Experiencia Profesional</h3>
              <div class="resume-item">
                <h4>Consultorio privado en “Espacio Terapéutico de Rehabilitación” (ES.TE.R.)</h4>
                <h5>2018 - Presente</h5>
                <p><em>Devoto, Córdoba, Argentina</em></p>
                <ul>
                  <li>Valoraciones neurocognitivas e interdisciplinarias.</li>
                  <li>Abordaje psicopedagógico desde la perspectiva del neurodesarrollo.</li>
                  <li>Abordaje Learning Style Profile: Estrategias de intervención para niños con TEA, Trastornos de la Comunicación y del neurodesarrollo.</li>
                  <li>Estimulación neurocogitiva de adultos/li>
                </ul>
              </div>
              <div class="resume-item">
                <h4>Psicopedagoga con orientación Neuroeducativa en Equipo de Orientación Escolar.</h4>
                <h5>2022 - Presente</h5>
                <p><em>Devoto, Córdoba, Argentina</em></p>
                <ul>
                  <li>Encuentros periódicos individuales y colectivos con los estudiantes a fin de conocer sus intereses y desempeño en el proceso de aprendizaje.</li>
                  <li>Intervención frente a los desafíos académicos del estudiante, conociendo oportunamente el origen de estos y brindando estrategias acordes.</li>
                  <li>Elaboración e implementación de Talleres con diferentes fines sociales, emocionales y pedagógicos.</li>
                  <li>Orientación a docentes sobre estrategias didácticas y neuroeducativas para favorecer el aprendizaje en el aula.</li>
                </ul>
              </div>
            </div>
            <div class="text-center">
              <a href="#" class="btn linkbtn aboutlink mt-4">
              Descargar CV
              </a>
            </div>
            
          </div>
  
        </div>
      </section><!-- End Resume Section -->
